# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [3]:
# Your code here:
from sqlalchemy import create_engine

connection_string = 'mysql+pymysql://ironhacker_read:ir0nhack3r@35.239.232.23/employees'
    
engine = create_engine(connection_string)

query = """
        SELECT * FROM employees_advanced
"""

emp = pd.read_sql(query, engine)

Examine the `salaries` dataset using the `head` function below.

In [6]:
# Your code here:
emp['Annual Salary'].head()

0    101442.0
1     94122.0
2    101592.0
3    110064.0
4         NaN
Name: Annual Salary, dtype: float64

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [17]:
# Your code here:

emp.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [19]:
# Your code here:

emp['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [22]:
# Your code here:
emp.groupby('Department').count()[['Job Titles']]

                       Job Titles
Department
ADMIN HEARNG                   39
ANIMAL CONTRL                  81
AVIATION                     1629
BOARD OF ELECTION             107
BOARD OF ETHICS                 8
BUDGET & MGMT                  46
BUILDINGS                     269
BUSINESS AFFAIRS              171
CITY CLERK                     84
CITY COUNCIL                  411
COMMUNITY DEVELOPMENT         207
COPA                          116
CULTURAL AFFAIRS               65
DISABILITIES                   28
DoIT                           99
FAMILY & SUPPORT              615
FINANCE                       560
FIRE                         4641
GENERAL SERVICES              980
HEALTH                        488
HUMAN RELATIONS                16
HUMAN RESOURCES                79
INSPECTOR GEN                  87
LAW                           407
LICENSE APPL COMM               1
MAYOR'S OFFICE                 85
OEMC                         2102
POLICE                      13414
POLICE BOARD                    2
PROCUREMENT                    92
PUBLIC LIBRARY               1015
STREETS & SAN                2198
TRANSPORTN                   1140
TREASURER                      22
WATER MGMNT                  1879

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [71]:
# Your code here:
from scipy.stats import ttest_1samp


ttest_1samp(emp['Hourly Rate'], 30, nan_policy='omit')
p < 0.05

True

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [74]:
# Your code here:

s, p = ttest_1samp(emp['Annual Salary'][emp['Department'] == 'POLICE'], 86000, nan_policy='omit')
p < 0.025

True

Using the `crosstab` function, find the department that has the most hourly workers.

In [81]:
# Your code here:
pd.crosstab(emp['Department'], emp['Salary or Hourly']).sort_values('Hourly', ascending=False)

Salary or Hourly       Hourly  Salary
Department
STREETS & SAN            1862     336
WATER MGMNT              1513     366
OEMC                     1273     829
AVIATION                 1082     547
GENERAL SERVICES          765     215
TRANSPORTN                725     415
PUBLIC LIBRARY            299     716
FAMILY & SUPPORT          287     328
CITY COUNCIL               64     347
FINANCE                    44     516
LAW                        40     367
ANIMAL CONTRL              19      62
POLICE                     10   13404
MAYOR'S OFFICE              8      77
BUSINESS AFFAIRS            7     164
CULTURAL AFFAIRS            7      58
COMMUNITY DEVELOPMENT       4     203
HUMAN RESOURCES             4      75
HEALTH                      3     485
PROCUREMENT                 2      90
FIRE                        2    4639
BUDGET & MGMT               2      44
HUMAN RELATIONS             0      16
INSPECTOR GEN               0      87
DoIT                        0      99
LICENSE APPL COMM           0       1
DISABILITIES                0      28
COPA                        0     116
CITY CLERK                  0      84
POLICE BOARD                0       2
BUILDINGS                   0     269
BOARD OF ETHICS             0       8
BOARD OF ELECTION           0     107
TREASURER                   0      22
ADMIN HEARNG                0      39

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [86]:
# Your code here:
s, p = ttest_1samp(emp['Hourly Rate'][emp['Department'] == 'STREETS & SAN'], 35, nan_policy='omit')
s < 0

True

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [92]:
# Your code here:
from scipy.stats import t

t.interval(0.95, df=len(emp['Hourly Rate'][emp['Salary or Hourly'] == 'Hourly'])-1, loc=emp['Hourly Rate'][emp['Salary or Hourly'] == 'Hourly'].mean(), scale=emp['Hourly Rate'][emp['Salary or Hourly'] == 'Hourly'].std())

(9.04476857882128, 56.5323468537392)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [93]:
# Your code here:
salaried = emp['Annual Salary'][emp['Salary or Hourly'] == 'Salary'][emp['Department'] == 'POLICE']
t.interval(0.95, len(salaried)-1, loc=salaried.mean(), scale=salaried.std())

(50670.270739577354, 122302.55826668942)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: